// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension



// &pwm0 {
//     status = "okay";
// };

// &pwmleds {
//     compatible = "pwm-leds";

//     pwm_led0: pwm_led_0 {
//         pwms = <&pwm0 0 20000000 PWM_POLARITY_NORMAL>;  /* Channel 0, Period 20ms, Normal Polarity */
//         label = "PWM_LED0";
//     };
// };

// &pwm_led0{
//     pwms = <&pwm0 0 20000000 PWM_POLARITY_NORMAL>;  /* Channel 0, Period 20ms, Normal Polarity */
// };




// / {
//     aliases {
//         sw0 = &button0;  /* Alias for the button */
//     };
       
//     buttons {
//         compatible = "gpio-keys";
//         button0: button_0 {
//             gpios = <&gpio_140_176 0x12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
//             label = "User Button";
//         };
//     };


//     pwmleds {
//         compatible = "pwm-leds";
    
//         pwm_led0: pwm_led_0 {
//             pwms = <&pwm0 0 20000000 0>; /* Channel 0, Period 20ms, Normal Polarity */
//             label = "PWM_LED0";
//         };
//     };

// };


/ {
    aliases {
        pwm-led0 = &pwm_led0;  /* Fix the alias name */
    };

    pwmleds {
        compatible = "pwm-leds";

        pwm_led0: pwm_led_0 {
            pwms = <&pwm0 0 500000000 0>; /* Channel 0,5000ms period, default polarity */
            label = "PWM_LED0";
        };
    };
};
